{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Abonar a la deuda</title>
    <link rel="stylesheet" href="{% static 'css/fiados1.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>
    <h1>Abonar a la deuda de {{ deuda.cliente.nombre }} {{ deuda.cliente.apellidos }}</h1>

    <div class="inventory-container">
        <div class="menu-icon" onclick="toggleMenu()"></div>
        <div id="overlay"></div>
      </div>
      <div class="menu">
        <ul>
          <li><button class="custom-button"><a href="{% url 'index' %}">Inicio</a></button></li> 
          {% if request.session.path.rol == 2 %}<li><button class="custom-button"><a href="{% url 'registro_horarios' %}">Horarios</a></button></li>{% endif %}
          <li><button class="custom-button"><a href="{% url 'lista_fiados' %}">Deben</a></button></li>
          {% if request.session.path.rol == 2 %}<li><button class="custom-button"><a href="{% url 'nuevo_producto' %}">Nuevo producto</a></button></li>{% endif %}
          {% if request.session.path.rol == 2 %}<li><button class="custom-button"><a href="{% url 'listar_categoria' %}">Nueva categoría</a></button></li>{% endif %}
          <li><button class="custom-button"><a href="{% url 'carrito' %}">Carrito</a></button></li>
          {% if request.session.path.rol == 2 %}<li><button class="custom-button"><a href="{% url 'listar_usuarios' %}">Usuarios</a></button></li>{% endif %}
          <li><button class="custom-button"><a href="{% url 'descargar_pdf_detalle_carrito' %}">Facturas</a></button></li>
          {% if request.session.path.rol == 2 %}<li><button class="custom-button"><a href="{% url 'registro_ventas' %}">Registro de Ventas</a></button></li>{% endif %}
          <li><button class="custom-button"><a href="{% url 'logout' %}">Cerrar Sesión</a></button></li>
      </ul>
      </div>
      {% if messages %}
    <div id="messages">
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

    {% if error %}
    <p style="color:red;">{{ error }}</p>
    {% endif %}
<br>
    <p>Total deuda: ${{ deuda.cliente.deben }}</p>
    <p>Abonos realizados: ${{ deuda.abonos }}</p>
    <p>Restante: ${{ deuda.restante }}</p>

    <form method="post">
        {% csrf_token %}
        <label for="abono">Cantidad a abonar:</label>
        <input type="number" id="abono" name="abono" step="0.01" min="0.01" required>
        <button type="submit">Registrar abono</button>
    </form>
<br>
    <button><a href="{% url 'lista_fiados' %}">Volver a la lista de deudas</a></button>
    <script src="{% static 'js/mensajes.js' %}"></script>
</body>
</html>