{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categoría</title>
    <link rel="stylesheet" href="{% static 'css/nueva_categoria.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>
<h1>Lista de Categorías</h1>
<div class="inventory-container">
    <div class="menu-icon" onclick="toggleMenu()"></div>
    <div id="overlay"></div>
  </div>
  <div class="menu">
    <ul>
          <li><button class="custom-button"><a href="{% url 'index' %}">Inicio</a></button></li> 
          {% if request.session.path.rol == 2 %}<li><button class="custom-button"><a href="{% url 'registro_horarios' %}">Horarios</a></button></li>{% endif %}
          <li><button class="custom-button"><a href="{% url 'lista_fiados' %}">Deben</a></button></li>
          {% if request.session.path.rol == 2 %}<li><button class="custom-button"><a href="{% url 'nuevo_producto' %}">Nuevo producto</a></button></li>{% endif %}
          {% if request.session.path.rol == 2 %}<li><button class="custom-button"><a href="{% url 'listar_categoria' %}">Nueva categoría</a></button></li>{% endif %}
          <li><button class="custom-button"><a href="{% url 'carrito' %}">Carrito</a></button></li>
          {% if request.session.path.rol == 2 %}<li><button class="custom-button"><a href="{% url 'listar_usuarios' %}">Usuarios</a></button></li>{% endif %}
          {% if request.session.path.rol == 2 %}<li><button class="custom-button"><a href="{% url 'descargar_pdf_detalle_carrito' %}">Facturas</a></button></li>{% endif %}
          {% if request.session.path.rol == 2 %}<li><button class="custom-button"><a href="{% url 'registro_ventas' %}">Registro de Ventas</a></button></li>{% endif %}
          <li><button class="custom-button"><a href="{% url 'logout' %}">Cerrar Sesión</a></button></li>
    </ul>
  </div>
  {% if messages %}
      <div id="messages">
          {% for message in messages %}
              <div class="alert {{ message.tags }}">
                  {{ message }}
              </div>
          {% endfor %}
      </div>
  {% endif %}
<h1>Editar Categoría</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" class="form-control" value="{{ categoria.nombre }}" required />
    </div>
    <br>
    <div class="form-group">
        <label for="foto">Foto actual:</label><br />
        {% if categoria.foto %}
            <img src="{{ categoria.foto.url }}" alt="{{ categoria.nombre }}" width="100" /><br />
        {% else %}
            Sin imagen
        {% endif %}
    </div>
    <br>
    <div class="form-group">
        <label for="foto">Cambiar Foto:</label>
        <input type="file" name="foto" id="foto" class="form-control-file" />
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Actualizar</button>
    <button><a href="{% url 'listar_categoria' %}" class="btn btn-secondary">Cancelar</a></button>
</form>
{% endblock %}
<script src="{% static 'js/mensajes.js' %}"></script>
</body>
</html>