{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BarTech-Revolution</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}" />

</head>
<body>
    {% if messages %}
      <div id="messages">
          {% for message in messages %}
              <div class="alert {{ message.tags }}">
                  {{ message }}
              </div>
          {% endfor %}
      </div>
  {% endif %}
    
    <header><h1>BarTech-Revolution</h1></header>
    <div class="inventory-container">
        <div class="menu-icon" onclick="toggleMenu()"></div>
        <div id="overlay"></div>
    </div>
    <div class="menu">
        <ul>
            {% if request.session.path.rol == 2 %}<li><button class="custom-button"><a href="{% url 'registro_horarios' %}">Horarios</a></button></li>{% endif %}
            <li><button class="custom-button"><a href="{% url 'lista_fiados' %}">Deben</a></button></li>
            {% if request.session.path.rol == 2 %}<li><button class="custom-button"><a href="{% url 'nuevo_producto' %}">Nuevo producto</a></button></li>{% endif %}
            {% if request.session.path.rol == 2 %}<li><button class="custom-button"><a href="{% url 'listar_categoria' %}">Nueva categoría</a></button></li>{% endif %}
            <li><button class="custom-button"><a href="{% url 'carrito' %}">Carrito</a></button></li>
            {% if request.session.path.rol == 2 %}<li><button class="custom-button"><a href="{% url 'listar_usuarios' %}">Usuarios</a></button></li>{% endif %}
            <li><button class="custom-button"><a href="{% url 'descargar_pdf_detalle_carrito' %}">Facturas</a></button></li>
            {% if request.session.path.rol == 2 %}<li><button class="custom-button"><a href="{% url 'registro_ventas' %}">Registro de Ventas</a></button></li>{% endif %}
            <li><button class="custom-button"><a href="{% url 'logout' %}">Cerrar Sesión</a></button></li>
        </ul>
    </div>
    <div class="product-grid">
        {% for categoria in categorias %}
        <div class="product-item">
            <img src="{{ categoria.foto.url }}" alt="{{ categoria.nombre }}">
            <h2>{{ categoria.nombre }}</h2>
            <a class="btn" href="{% url 'vista_categoria' categoria.id %}">Ver más</a>
            <br><br>
        </div>
        {% endfor %}
    </div>
        <div class="terms-section">
            <hr class="terms-divider">
            
            <div class="terms-section">
                <a href="#" id="open-terms">Términos y Condiciones</a>
                <a href="#" id="open-privacy">Políticas de Privacidad</a>
        
            <div id="overlay"></div>
            <div id="modal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div id="modal-text"></div>
                    <br>
                </div>
            </div>
    </div>
<script src={% static 'js/scripts.js' %}></script>
<script src="{% static 'js/mensajes.js' %}"></script>
</body>
</html>