{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categoría</title>
    <link rel="stylesheet" href="{% static 'css/formulario_producto.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
</head>
<body>
<h1>Lista de Categorías</h1>
<div class="inventory-container">
    <div class="menu-icon" onclick="toggleMenu()"></div>
    <div id="overlay"></div>
  </div>
  <div class="menu">
    <ul>
          <li><button class="custom-button"><a href="{% url 'index' %}">Inicio</a></button></li> 
          {% if request.session.path.rol == 2 %}<li><button class="custom-button"><a href="{% url 'registro_horarios' %}">Horarios</a></button></li>{% endif %}
          <li><button class="custom-button"><a href="{% url 'lista_fiados' %}">Deben</a></button></li>
          {% if request.session.path.rol == 2 %}<li><button class="custom-button"><a href="{% url 'nuevo_producto' %}">Nuevo producto</a></button></li>{% endif %}
          {% if request.session.path.rol == 2 %}<li><button class="custom-button"><a href="{% url 'listar_categoria' %}">Nueva categoría</a></button></li>{% endif %}
          <li><button class="custom-button"><a href="{% url 'carrito' %}">Carrito</a></button></li>
          {% if request.session.path.rol == 2 %}<li><button class="custom-button"><a href="{% url 'listar_usuarios' %}">Usuarios</a></button></li>{% endif %}
          {% if request.session.path.rol == 2 %}<li><button class="custom-button"><a href="{% url 'descargar_pdf_detalle_carrito' %}">Facturas</a></button></li>{% endif %}
          {% if request.session.path.rol == 2 %}<li><button class="custom-button"><a href="{% url 'registro_ventas' %}">Registro de Ventas</a></button></li>{% endif %}
          <li><button class="custom-button"><a href="{% url 'logout' %}">Cerrar Sesión</a></button></li>
    </ul>
  </div>
  {% if messages %}
      <div id="messages">
          {% for message in messages %}
              <div class="alert {{ message.tags }}">
                  {{ message }}
              </div>
          {% endfor %}
      </div>
  {% endif %}
<form method="POST" action="{% url 'listar_categoria' %}" class="form-inline mb-3">
    {% csrf_token %}
    <button><a href="{% url 'crear_categoria' %}">Crear Categoría</a></button>
</form>
<br><br>
<table id="productos" class="display">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Foto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.nombre }}</td>
                <td>
                    {% if categoria.foto %}
                        <img src="{{ categoria.foto.url }}" alt="{{ categoria.nombre }}" width="80" />
                    {% else %}
                        Sin Imagen
                    {% endif %}
                </td>
 <td>
                    <a href="{% url 'editar_categoria' categoria.id %}"><button>Editar</button></a> |
                    <a href="{% url 'eliminar_categoria' categoria.id %}"><button>Eliminar</button></a>
                </td>
            </tr>
{% empty %}
            <tr>
                <td colspan="3">No hay categorías registradas.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
    <script>
        $(document).ready(function() {
            var table = $('#productos').DataTable({
                "language": {
                    "search": "Buscar:",
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ productos",
                    "infoEmpty": "No hay productos disponibles",
                    "infoFiltered": "(filtrado de _MAX_ productos)",
                    "paginate": {
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
            $('#searchInput').on('keyup', function() {
                table.search(this.value).draw();
            });
        });
    </script>
<script src="{% static 'js/mensajes.js' %}"></script>
</body>
</html>