{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}"> {% endcomment %}
</head>
<body>
    {% if messages %}
        <div id="messages">
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div id="recuperar_contrasena">
        <form method="post" class="form">
            {% csrf_token %}
            <h1 class="title">Recuperar Contraseña</h1>
            {{ form.as_p }}
            <button type="submit" class="submit">Enviar enlace de recuperación</button>
            <button type="button" class="close-modal"><a href="{% url 'login' %}">Cerrar</a></button>
        </form>
    </div>
</body>
</html>