body {
    background-image: linear-gradient(135deg, #3B2C23, #1C1C1C);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #F3E5D7;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


/* Estilo para la tabla */
.table-container {
    background: linear-gradient(135deg, #A2653B, #9B7A59);
    padding: 25px;
    border-radius: 12px;
    border: 3px solid #D7B89E;
    box-shadow: 0 0 30px rgba(211, 185, 158, 0.8);
    max-width: 900px;
    width: 90%;
    margin-top: 120px;
}

.table-container h2 {
    margin-bottom: 15px;
    font-weight: bold;
    color: #F3E5D7;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #D7B89E;
    text-align: center;
    padding: 10px;
}

th {
    background-color: #A2653B;
    color: #F3E5D7;
}

td {
    background-color: #c7966e;
    color: #ffffff;
}

input[type="text"], input[type="search"] {
    padding: 10px;
    border-radius: 8px;
    background: #D7B89E;
    border: none;
    font-size: 16px;
    margin-top: 15px;
    width: 100%;
    color: #3B2C23;
}

input[type="text"]:focus, input[type="search"]:focus {
    background: #F3E5D7;
    border: 2px solid #A2653B;
    box-shadow: 0 0 15px rgba(243, 229, 215, 0.7);
}

button {
    padding: 10px 20px;
    background: linear-gradient(145deg, #A2653B, #9B7A59);
    border-radius: 10px;
    color: #F3E5D7;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  }
  
  button:hover {
    background: linear-gradient(145deg, #9B7A59, #A2653B);
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
  }

button a {
    color: #FFFFFF; /* Cambia el color del enlace dentro del botón */
    text-decoration: none; /* Elimina el subrayado */
} 
